Repository nicholas-maltbie/PropHunt, pull requests merged in 2020-11, with the labels that each got.

#111 Reconnect Clear Ghosts
  Assets/Scripts/Client/Systems/ConnectionSystem.cs
  Assets/Scripts/UI/ConnectAction.cs
  Assets/Scripts/UI/DisconnectAction.cs
  Assets/Tests/EditModeTests/Client/ConnectionSystemTests.cs
  Assets/Tests/PlayModeTests/NetworkTests/NetworkIntegrationTests.cs
  ProjectSettings/ProjectSettings.asset
Labels: bug, test

#118 Added tests for KCC Components and for constatns in KCCGrounded Test
  Assets/Tests/EditModeTests/Mixed/KCCComponentsTests.cs
  Assets/Tests/EditModeTests/Mixed/KCCComponentsTests.cs.meta
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCGroundedTests.cs
  Assets/Tests/Utils/TestUtils.cs
Labels: test

#122 Tests for the KCC Push Overlapping System
  Assets/Scripts/Mixed/Systems/KinematicCharacterControllerSystems.cs
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCPushOverlappingTests.cs
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCPushOverlappingTests.cs.meta
Labels: test

#124 KCC Gravity Tests
  Assets/Scripts/Mixed/Systems/KinematicCharacterControllerSystems.cs
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCGravityTests.cs
Labels: test

#130 Test/jumptests
  Assets/Scripts/Mixed/Systems/KinematicCharacterControllerSystems.cs
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCJumpTests.cs
Labels: test

#132 UI Scripts Tests
  Assets/Scripts/Client/Systems/ConnectionSystem.cs
  Assets/Scripts/UI/ConnectAction.cs
  Assets/Scripts/UI/UIManager.cs
  Assets/Tests/EditModeTests/Client/CameraFollowSystemTests.cs
  Assets/Tests/EditModeTests/Mixed.meta
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests.meta
  Assets/Tests/EditModeTests/UI.meta
  Assets/Tests/EditModeTests/UI/MenuControllerTests.cs
  Assets/Tests/EditModeTests/UI/MenuControllerTests.cs.meta
  Assets/Tests/EditModeTests/UI/UIActionTests.cs
  Assets/Tests/EditModeTests/UI/UIActionTests.cs.meta
  Assets/Tests/EditModeTests/UI/UIManagerTests.cs
  Assets/Tests/EditModeTests/UI/UIManagerTests.cs.meta
Labels: test

#127 Tests for Authoring Components
  Assets/Prefabs/Characters/TestCharacter.prefab
  Assets/Scripts/Authoring/PlayerIdAuthoringComponent.cs
  Assets/Scripts/Authoring/PlayerViewAuthoringComponent.cs
  Assets/Scripts/Mixed/Components/PlayerViewComponentData.cs
  Assets/Tests/EditModeTests/Authoring.meta
  Assets/Tests/EditModeTests/Authoring/MovingPlatformAuthoringTests.cs
  Assets/Tests/EditModeTests/Authoring/MovingPlatformAuthoringTests.cs.meta
  Assets/Tests/EditModeTests/Authoring/PlayerMovementAuthoringTests.cs
  Assets/Tests/EditModeTests/Authoring/PlayerMovementAuthoringTests.cs.meta
  Assets/Tests/EditModeTests/Authoring/RotatingPlatformAuthoringTests.cs
  Assets/Tests/EditModeTests/Authoring/RotatingPlatformAuthoringTests.cs.meta
  Assets/Tests/EditModeTests/EditModeTests.asmdef
Labels: test

#139 Game Flow and Command Tests
  Assets/NetCodeGenerated/PropHunt.Generated/PropHunt.Mixed.Commands.JoinGameRequestSerializer.cs
  Assets/NetCodeGenerated/PropHunt.Generated/PropHunt.Mixed.Commands.JoinGameRequestSerializer.cs.meta
  Assets/Scripts/Constants/PropHuntControlSystems.cs
  Assets/Scripts/Constants/PropHuntControlSystems.cs.meta
  Assets/Scripts/GameMain.cs
  Assets/Scripts/Mixed/Commands/JoinGameRequest.cs
  Assets/Scripts/Mixed/Commands/PlayerInput.cs
  Assets/Scripts/UI/ConnectAction.cs
  Assets/Tests/EditModeTests/EditModeTests.asmdef
  Assets/Tests/EditModeTests/GameFlowTests.cs
  Assets/Tests/EditModeTests/GameFlowTests.cs.meta
  Assets/Tests/EditModeTests/Mixed/Commands.meta
  Assets/Tests/EditModeTests/Mixed/Commands/PlayerInputCommandTests.cs
  Assets/Tests/EditModeTests/Mixed/Commands/PlayerInputCommandTests.cs.meta
  Assets/Tests/EditModeTests/UI/UIActionTests.cs
  ProjectSettings/ProjectSettings.asset
Labels: test

#142 KCC Utils Tests
  Assets/Scripts/Constants/KinematicCharacterControllerConstants.cs
  Assets/Scripts/Constants/KinematicCharacterControllerConstants.cs.meta
  Assets/Scripts/Mixed/Systems/KinematicCharacterControllerSystems.cs
  Assets/Scripts/Mixed/Utility/KinematicCharacterControllerUtilities.cs
  Assets/Tests/EditModeTests/Mixed/KCCUtilsTests.cs
  Assets/Tests/EditModeTests/Mixed/KCCUtilsTests.cs.meta
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCGroundedTests.cs
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCPushOverlappingTests.cs
  Assets/Tests/EditModeTests/Mixed/KinematicChatacterControllerTests/KCCSnapDownTests.cs
  Assets/Tests/EditModeTests/Utils/PhysicsUtils.cs
Labels: test

#144 Miscellaneous Tests
  Assets/Scripts/Mixed/GameObjects/SharedMaterials.cs
  Assets/Tests/EditModeTests/EditModeTests.asmdef
  Assets/Tests/EditModeTests/InputManagement.meta
  Assets/Tests/EditModeTests/InputManagement/UnityServiceTests.cs
  Assets/Tests/EditModeTests/InputManagement/UnityServiceTests.cs.meta
  Assets/Tests/EditModeTests/Mixed/GameObjects.meta
  Assets/Tests/EditModeTests/Mixed/GameObjects/SharedMaterialTests.cs
  Assets/Tests/EditModeTests/Mixed/GameObjects/SharedMaterialTests.cs.meta
  Assets/Tests/EditModeTests/Mixed/PredictionManagerTests.cs
  Assets/Tests/EditModeTests/Mixed/PredictionManagerTests.cs.meta
Labels: test

#146 Mixed Testing Documentation
  Contributing.md
  pull_request_template.md
Labels: test, workflow

#145 Mixed Test Reporting
  .github/workflows/tests.yml
  Assets/Scripts/UI/UIManager.cs
  Assets/Tests/EditModeTests/Mixed/GameObjects/SharedMaterialTests.cs
Labels: test, workflow

#151 KCC Performance Test
  Assets/Prefabs/Characters/AutonomousAgent.prefab
  Assets/Prefabs/Characters/AutonomousAgent.prefab.meta
  Assets/Scenes/KCCPerformanceTest.unity
  Assets/Scenes/KCCPerformanceTest.unity.meta
  Assets/Scenes/KCCTestRoom.unity
  Assets/Scenes/KCCTestRoom.unity.meta
  Assets/Scripts/Authoring/RandomizedStateRandomWrapper.cs
  Assets/Scripts/Authoring/RandomizedStateRandomWrapper.cs.meta
  Assets/Scripts/Client/Systems/CameraFollowSystem.cs
  Assets/Scripts/Mixed/Systems/KinematicCharacterControllerSystems.cs
  Assets/Scripts/Server/Components.meta
  Assets/Scripts/Server/Components/AutonomousKCCAgent.cs
  Assets/Scripts/Server/Components/AutonomousKCCAgent.cs.meta
  Assets/Scripts/Server/Components/RandomWrapper.cs
  Assets/Scripts/Server/Components/RandomWrapper.cs.meta
  Assets/Scripts/Server/Systems/AutonomousKCCSystem.cs
  Assets/Scripts/Server/Systems/AutonomousKCCSystem.cs.meta
  Assets/Tests/EditModeTests/Authoring/RandomizedStateRandomWrapperTests.cs
  Assets/Tests/EditModeTests/Authoring/RandomizedStateRandomWrapperTests.cs.meta
  Assets/Tests/EditModeTests/Server/AutonomousKCCSystemTests.cs
  Assets/Tests/EditModeTests/Server/AutonomousKCCSystemTests.cs.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
  ProjectSettings/ProjectSettings.asset
Labels: test
